 [Unit]
 Description=Solar GUI
 After=multi-user.target

 [Service]
 User=pi
 Group=pi
 Environment=DISPLAY=:0
 Environment=XAUTHORITY=/home/pi/.Xauthority
 #ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/solar/webapp/solar_gui.py > /tmp/solar_gui.log 2>&1'
 ExecStart=/usr/bin/python3 /home/pi/solar/webapp/solar_gui.py
 Restart=always
 RestartSec=10s
 KillMode=process
 XTimeoutSec=infinity

 [Install]
 WantedBy=graphical.target